.h1{
    color:blue;
    font-weight:bold;
}
.blue{
    color:blue;
}
.yellow{
    color: yellow;
}
.green{
    color: green;
}
.grey{
    color: grey;
}
.pink{
    color: pink;
}
.orange{
    color: orange;
}
.purple{
    color: purple;
}
.black{
    color: black;
}
.red{
    color: red;
}
.brown{
    color: brown;
}